/* font-family: 'Lobster', cursive;
font-family: 'Press Start 2P', cursive;
font-family: 'Quicksand', sans-serif; */

#App {
  background-color: #d4f1f5;
  width: 100vw;
  max-width: 100%;
  min-height: 100vh;
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flexColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

hr {
  width: 95%;
  color: black;
  border: 1px solid black;
}

button {
  border-radius: 15px;
  outline: none;
  border: none;
  padding: 10px 25px;
  cursor: pointer;
  transition-duration: 1s;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#title {
  font-family: 'Press Start 2P', cursive;
  margin: 50px 0px 15px 0px;
  font-size: 42px;
  animation-name: blink;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

#tag {
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  font-size: 20px;
}

#nameForm {
  margin: 50px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#enterUserName {
  border-radius: 15px;
  border: none;
  padding: 10px 25px;
  margin: 0px 0px 36px 0px;
  text-align: center;
  outline: none;
}

#nameSubmit {
  background-color: #f4d35e;
}

#nameSubmit:hover {
  background-color: #f4c006;
  transform: scale(1.05);
}

#hello {
  margin: 40px 0px 10px 0px;
  font-size: 26px;
}

#attending {
  font-size: 19px;
}

#yesno {
  width: 60%;
  display: flex;
  justify-content: space-between;
  margin: 15px 0px 0px 0px;
}

#yes {
  background-color: rgb(189, 232, 158);
}

#yes:hover {
  background-color: rgb(141, 218, 86);
  transform: scale(1.05);
}

#no {
  background-color: rgb(235, 176, 176);
}

#no:hover {
  background-color: rgb(221, 100, 100);
  transform: scale(1.05);
}

#zoomDiv {
  margin: 0px 0px 20px 0px;
}

#zoom {
  margin: 15px 0px 15px 0px;
  font-size: 22px;
}

#link {
  font-size: 18px;
  color: blue;
  text-align: center;
}

#instruction {
  font-size: 22px;
  font-weight: 450;
  margin: 22px 0px 11px 0px;
}

#voteCount {
  margin: 16px 0px 25px 0px;
}

#gameVote {
  background-color: rgba(181, 181, 181, 0.138);
  width: 80vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 25px;
  padding: 25px;
  border-radius: 15px;
  margin: 0px 0px 36px 0px;
}

.gameImg {
  height: 125px;
  width: 125px;
  border-radius: 5px;
}

.singleGameDiv {
  background-color: rgba(184, 184, 184, 0.446);
  padding: 15px;
  border-radius: 15px;
  cursor: pointer;
  transition-duration: 0.5s;
}

.singleGameDiv:hover {
  transform: scale(1.05);
}

.gameTitle {
  margin: 0px 0px 10px 0px;
  font-size: 18px;
  font-family: 'Quicksand', sans-serif;
}

.votes {
  margin: 0px 0px 5px 0px;
}

@keyframes emphasize {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.emphasize {
  animation-name: emphasize;
  animation-duration: 0.2s;
}

#attendanceList {
  background-color: rgba(181, 181, 181, 0.138);
  border-radius: 15px;
  width: 40vw;
  margin: 0px 0px 36px 0px;
  padding: 15px 0px 25px 0px;
}

#nameContainer {
  margin: 15px 0px;
  border: 2px solid orange;
  background-color: rgba(255, 255, 255, 0.748);
  width: 150px;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
}

#listName {
  font-family: 'Quicksand', sans-serif;
  font-size: 17px;
  font-weight: 500;
  margin: 0px;
}

#waitingDiv {
  margin: 150px 0px 0px 0px;
  display: flex;
  align-items: flex-end;
}

#waitingLabel {
  font-weight: 400;
  margin: 0px 25px 0px 0px;
}

.dot-flashing {
  position: relative;
  width: 4px;
  height: 4px;
  margin: 0px 0px 5px 0px;
  border-radius: 5px;
  background-color: #000000;
  color: #000000;
  animation: dotFlashing 1s infinite linear alternate;
  animation-delay: 0.5s;
}

.dot-flashing::before,
.dot-flashing::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  height: 4px;
  width: 4px;
  border-radius: 5px;
  background-color: #000000;
  color: #000000;
  animation: dotFlashing 1s infinite alternate;
}

.dot-flashing::before {
  left: -13px;
  animation-delay: 0s;
}

.dot-flashing::after {
  left: 13px;
  animation-delay: 1s;
}

@keyframes dotFlashing {
  0% {
    background-color: #000000;
  }
  50%,
  100% {
    background-color: #00000000;
  }
}

#aAPContainer {
  margin: 50px 0px 36px 0px;
  background-color: rgba(130, 130, 130, 0.227);
  padding: 20px;
  border-radius: 15px;
}

.panelRow {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 10px 0px 36px 0px;
}

.panelInput {
  border-radius: 15px;
  border: none;
  padding: 10px 25px;
  margin: 0px 15px 0px 0px;
  text-align: center;
  outline: none;
}

#sendLink {
  background-color: #67abff;
}

#sendLink:hover {
  transform: scale(1.05);
  background-color: #2d8cff;
}

#sendCode {
  background-color: rgb(218, 174, 244);
}

#sendCode:hover {
  transform: scale(1.05);
  background-color: rgb(189, 127, 225);
}

.openRoom {
  background-color: rgb(189, 232, 158);
}

.openRoom:hover {
  transform: scale(1.05);
  background-color: rgb(141, 218, 86);
}

.closeRoom {
  background-color: rgb(235, 176, 176);
}

.closeRoom:hover {
  transform: scale(1.05);
  background-color: rgb(221, 100, 100);
}

#reset {
  background-color: red;
  color: white;
  letter-spacing: 3px;
}

#reset:hover {
  background-color: rgb(143, 0, 0);
  transform: scale(1.05);
}

#roomCodeTitle {
  font-size: 20px;
}

#roomCode {
  margin: 0px;
}
