html,
body {
  margin: 0px;
  height: 100%;
  width: 100%;
  outline: none;
}

#root {
  width: 100%;
}

* {
  -webkit-tap-highlight-color: transparent;
}

h1 {
  font-family: 'Quicksand', sans-serif;
}

.backGroundPhoto {
  background: url('arcade.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.flexColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  border-radius: 15px;
  outline: none;
  border: none;
  padding: 10px 25px;
  cursor: pointer;
  transition-duration: 1s;
}

.blue {
  color: #08f7fe;
}

.green {
  color: #09fbd3;
}

.pink {
  color: #f353bb;
}

.yellow {
  color: #f5d300;
}
