#aAPContainer {
  margin: 50px 0px 36px 0px;
  background-color: rgba(177, 177, 177, 0.337);
  padding: 20px;
  border-radius: 15px;
}

.panelRow {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 10px 0px 36px 0px;
}

.panelInput {
  border-radius: 15px;
  border: none;
  padding: 10px 25px;
  margin: 0px 15px 0px 0px;
  text-align: center;
  outline: none;
}

.openRoom {
  background-color: rgb(189, 232, 158);
}

.openRoom:hover {
  transform: scale(1.05);
  background-color: rgb(141, 218, 86);
}

.closeRoom {
  background-color: rgb(235, 176, 176);
}

.closeRoom:hover {
  transform: scale(1.05);
  background-color: rgb(221, 100, 100);
}

#reset {
  background-color: red;
  color: white;
  letter-spacing: 3px;
}

#reset:hover {
  background-color: rgb(143, 0, 0);
  transform: scale(1.05);
}

#sendCode {
  background-color: rgb(218, 174, 244);
}

#sendCode:hover {
  transform: scale(1.05);
  background-color: rgb(189, 127, 225);
}

#sendLink {
  background-color: #67abff;
}

#sendLink:hover {
  transform: scale(1.05);
  background-color: #2d8cff;
}
