#attending {
  font-size: 19px;
  text-align: center;
  margin: 0px;
  color: white;
}

#attendingContainer {
  background-color: rgba(0, 0, 0, 0.647);
  margin: 36px 10px 19px 10px;
  border-radius: 5px;
  padding: 5px;
}

#yesno {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 15px 0px 0px 0px;
}

#yes {
  background-color: #09fbd3f0;
  padding: 9px 50px;
  margin: 25px 0px 100px 0px;
}

#yes:hover {
  transform: scale(1.05);
  background-color: #09fbd3;
}
