#nameForm {
  margin: 50px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#enterUserName {
  border-radius: 15px;
  border: 2px solid #f4d35e;
  padding: 10px 25px;
  margin: 0px 0px 36px 0px;
  text-align: center;
  outline: none;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

#nameSubmit {
  background-color: #f4d35e;
  border: 2px solid #f4c006;
  padding: 9px 50px;
}

#nameSubmit:hover {
  background-color: #f4c006;
  transform: scale(1.05);
}
